{% extends 'permissions/School/base_layout.html' %}

{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">User</th>
                    <th scope="col">Request Name</th>
                    <th scope="col">Request Message</th>
                    <th scope="col" colspan="2">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% if all_objects %}
                    {% for object in all_objects %}
                        <tr>
                            <td>{{ object.timestamp }} </td>
                            <td>{{ object.creation_user }} </td>
                            <td>{{ object.request_name }} </td>
                            <td style="word-break: break-all;">{{ object.request_message }} </td>
                            <td>{{ object.status_warden }}</td>
                            <td>{{ object.status_school }}</td>
                            <td style="text-align: center">
                                <a href="{% url 'approve_request' %}?uid={{ object.uid }}" class=" btn btn-sm
                                   btn-success">Approve</a>&nbsp;
                                <a href="{% url 'reject_request' %}?uid={{ object.uid }}"
                                   class="btn btn-sm btn-danger">Reject</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" style="text-align: center">No pending requests found!</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}