{% extends 'authentication/base_layout.html' %}

{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <div class="jumbotron">
                    <div class="row">
                        <div class="text-center col-12">
                            <h2>Reset Password</h2>
                        </div>
                        <div class="col-12">
                            <form id="resetPasswordForm" class="text" action="{% url 'reset_password' %}"
                                  method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="email">Email</label><input type="email" class="form-control" id="email"
                                                                           name="email" value="{{ email }}"
                                                                           placeholder="Email Address"
                                                                           aria-describedby="emailHelp" required
                                                                           disabled>
                                    <span id="emailHelp" class="form-text text-muted" style="display: none;">Please enter a valid e-mail address.</span>
                                </div>
                                {% bootstrap_form form %}
                                {% if request.GET.uid %}
                                    <input type="hidden" name="uid" value="{{ request.GET.uid }}">
                                {% endif %}
                                {% if status %}
                                    <div class="form-group text-left">
                                        {% if status == 2 %}
                                            <label class="text-danger">{{ msg }}</label>
                                        {% elif status == 1 %}
                                            <label class="text-success">{{ msg }}</label>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <div class="text-center col-12">
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    {% endbuttons %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}